
body{
    
    background-image: url('encriptacion.jpg');
    background-size: cover;
}


#logo{

    display: inline-block;
    height:5%;
    width: 5%;
    border-radius: 5px;
    
}

header{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

#codificar, #decodificar{
    border-radius: 5px;
    border: 2px solid black;

}



.contenedor-texto{
    
    
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.contenedor-boton{
    margin-top: 10px;
    margin-inline: 100px;
    display: flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones{
    background-color: rgb(7, 223, 72);
    font-weight: bolder;
    height: 50px;
    width: auto;
    border-radius: 5px;
    font-size: larger;
    margin-bottom: 10px;
    margin-top: 10px;
}

.instrucciones{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: auto;
    background-color: rgb(19, 204, 189);
    border-radius: 10px;
    width: 30%;
    text-align: center;
    border: 3px solid rgb(165, 8, 68);
}

.margin-instrucciones{

    margin-bottom: auto;
}

ol{
    display: inline-block;
    text-align: left;
}

#enc:before{
    content: '🔐';
}

#desc:before{
    content: '🔓';
}


#copiar:before{
    content: '📑';
}

#enc, #desc, #copiar{
    border-radius: 10px;
    border: 2px solid black;
    width: auto;
}

@media screen and (max-width : 500px) {
   
    .instrucciones{
        width: auto;
        height: auto;
    }

}